.breadcrumbs
  %a{href: "/"}
    All Hospitals
  %a{href: "/communications/institutions/#{contact.institution.id}"}
    = contact.institution.name
.large-12.large-centered.columns
  %h1
    %span= contact.first_name
    %span= contact.last_name
  .phone
    Phone:
    %span= contact.phone
  .email
    Email:
    %span= contact.email
  .appointment
    Faculty Appointment Status:
    %span= contact.appointment_status
  .number
    Number Of Students:
    %span= contact.number_of_students
  .details
    Details:
    %textarea{:disabled => "disabled"}
      = contact.details
  .active
    Active Since:
    %span= contact.active_since
