%table
  %tr
    %th Contact
    %th Clerkship or Position
    %th Communication
  - for contact in contacts
    %tr
      %td
        %a{href: "/communications/contact/#{contact.id}"}
          %span= contact.first_name
          %span= contact.last_name
      %td= contact.title
      %td
        - if contact.latest_communication
          = contact.latest_communication

